table{
    border-collapse: collapse;
    width: 90vw;
    margin: auto;
    font-weight: 600;
}

td, th{
    padding: 7px;
}

thead > tr{
    text-align: left;
}

th{
    background-color: lightgray;
    font-size: 30px;
    font-style: italic;
}

tbody tr:nth-child(1){
    font-size: 30px;
    font-style: italic;
}

tbody tr:nth-child(3){
    color: green;
}

tbody tr:nth-child(5){
    font-size: 30px;
    font-style: italic;
}

tbody tr:nth-child(6){
    color: green;
}

tbody tr:nth-child(9){
    color: green;
    font-size: 30px;
    font-style: italic;
}

tfoot > tr {
    background-color: yellow;
}